
@import url(https://fonts.googleapis.com/css?family=Roboto:500,400,700);


$primary-color: #FFF; /* #eb3812;  */
$secondary-color: #ff572b;
$third-color: #0091EA;
$primary-font-color: #666;
$secondary-font-color: #FFF;
$third-font-color: #0091EA;
$primary-font-family: "Roboto", sans-serif, Arial, Helvetica;
$gris-claro: #DDD;
$placeholder-color: #999;
$primary-link-color: #ff572b;